.toggle-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 28px;
  background: #fff;
  border: 2px solid #b4b4b4;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  font-style: bold;
}

.toggle-switch_checkbox {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  margin: 0;
  z-index: 3;
}

.toggle-switch_circle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  transition: left 0.25s ease;
  z-index: 2;
  display: flex;
}

.toggle-switch_checkbox:checked ~ .toggle-switch_circle {
  left: 28px;
}

.toggle-switch_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 700;
  color: #7e7e7e;
  z-index: 4;
  user-select: none;
  pointer-events: none;
  line-height: 1;
}

.toggle-switch_text_F {
  left: 7px;
  color: #fff;
}

.toggle-switch_text_C {
  right: 7px;
}

.toggle-switch_checkbox:checked ~ .toggle-switch_text_C {
  color: #fff;
}

.toggle-switch_checkbox:checked ~ .toggle-switch_text_F {
  color: #7e7e7e;
}

.toggle-switch__text_color_white {
  color: #fff;
}
