html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.page {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  flex-grow: 1;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 750px) {
  .page__content {
    padding: 0;
  }
}
