main {
  padding: 40px 40px;
  max-width: 1360px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cards__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 40px 0 20px 0;
}

@media (max-width: 750px) {
  main {
    padding: 20px 16px;
    max-width: none;
  }

  .cards__text {
    margin: 20px 0 16px 0;
    font-size: 18px;
    line-height: 22px;
  }

  .cards__list {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (max-width: 374px) {
  .cards__list {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
