@font-face {
  font-family: "Cabinet Grotesk";
  src:
    url(./../../fonts/CabinetGrotesk-Bold.woff2) format("woff2"),
    url(./../../fonts/CabinetGrotesk-Bold.woff) format("woff");
  font-weight: 700;
  font-style: bold;
}

.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: bold;
  font-weight: 700;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
  color: white;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}

